@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');

.container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.bloco {
    max-width: 200;
    max-height: 500;
    border-color: blue;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
}


header h3 {
    font-family: 'Rubik', sans-serif;;
    text-align: center;
}

main p {
  font-family: 'Source Sans Pro', sans-serif;
    
}

@media (max-width: 800px) {
  .container{
    background-color: gray;
    flex-direction: column;
  }
}